<div>
  <p class="text-lg font-semibold mb-1">
    <%= link_to event.title, event_path(event), class: 'text-indigo-600 hover:text-indigo-900' %>
  </p>
  <p class="text-gray-600 mb-1">
    <%= event.user.full_name %>
  </p>
  <p class="text-gray-600 mb-1">
    <%= event.location %>
  </p>
  <p class="text-gray-600 mb-1">
    <%= event.event_date.strftime('%Y-%m-%d') %>
  </p>
  <p class="text-gray-600 mb-1">
    <%= event.event_date.strftime('%I:%M %p') %>
  </p>
  <p class="text-gray-600">
    Total Attendees: <%= event.attendees.count %>
  </p>
</div>